<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Школьный журнал{% endblock %}</title>
    <!-- Подключаем CSS (если есть static файлы) -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Курсы</h1>
        <nav>
            <a href="{% url 'home' %}">Главная</a> |
            <a href="{% url 'student_list' %}">Студенты</a> |
            <a href="{% url 'course_list' %}">Курсы</a> |
            <a href="{% url 'grade_journal' %}">Журнал оценок</a>
            
            {% if user.is_authenticated %}
                <!-- Без is_staff = True даже зная логин/пароль — нельзя зайти в /admin/, встроенный атрибут -->
                {% if user.is_staff %}
                    | <a href="{% url 'admin:index' %}">Админка</a>
                {% endif %}
                | <a href="{% url 'admin:logout' %}">Выйти</a>
            {% else %}
                | <a href="{% url 'admin:login' %}">Войти</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 </p>
    </footer>
</body>
</html>