{% extends 'base.html' %}

{% block title %}Список студентов{% endblock %}

{% block content %}
    <h1>Список обучающихся</h1>
    <ul>
        {% for student in students%}
        <li>
            <a href="{% url 'student_detail' student.id %}"> <!-- посмотреть как именно почему такая вставка -->
                {{student.name}} {{student.surname}}
            </a>
        </li>
            {% if not student %}
            <p>Нет студентов</p>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
    