<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <style type="text/css">
  body {
    color: purple;
    background-color: #e1f1b7 }
  </style>
</head>
<body>
    <h1 style="font-family:verdana;text-align:center;">Главная страница</h1>
    
    <ul>
        <li><a href="/duck/">Посмотреть рандомную утку </a></li>
        
        <li><strong>Посмотреть лисичек (выберите количество):</strong></li>
        <li><a href="/fox/1/">1 лисичка</a></li>
        <li><a href="/fox/3/">3 лисички</a></li>
        <li><a href="/fox/5/">5 лисичек</a></li>
        <li><a href="/fox/10/">10 лисичек</a></li>

        <li><strong>Посмотреть погоду:</strong></li>
        <li><a href="/weather-minsk/">Погода в Минске </a></li>
        <li><a href="/weather/Paris/">Погода в Париже</a></li>
        <li><a href="/weather/Tokyo/">Погода в Токио</a></li>
        <li><a href="/weather/Moscow/">Погода в Москве</a></li>
    </ul>
    
</body>
</html>